bin
bin-tmp
obj
shell_archive
tmp
*.crvm
*.vsix
vscode-extension/out
vscode-extension/package-lock.json
vscode-extension/node-modules
Packages
Tesses.CrossLang.PackageServer/conf.json
Tesses.CrossLang.PackageServer/data.db
Temp